services:

  apache:
    image: httpd
    container_name: apache
    restart: unless-stopped

  caddy:
    image: caddy:2-alpine
    container_name: caddy
    env_file: .env
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - apache
    restart: unless-stopped

volumes:
  caddy_data:
  caddy_config:
